/* [project]/src/components/Hero/hero.scss.css [app-client] (css) */
body {
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  display: flex;
  overflow: hidden;
}

.hero-section {
  background: linear-gradient(90deg, #1e182e 42%, #171e37 77%);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.hero-section .content {
  align-items: center;
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.hero-section .content .logoBox {
  align-items: center;
  width: 50vw;
  height: 100vh;
  display: flex;
}

.hero-section .content .logoBox .imgBox {
  width: 450px;
  height: 450px;
  position: relative;
}

.hero-section .content .logoBox .imgBox .profile1 {
  opacity: 1;
  z-index: 2;
  --animate-delay: 2s;
  height: 400px;
  animation: 1s bounceInUp;
  position: absolute;
  top: 20px;
  left: 200px;
}

.hero-section .content .logoBox .imgBox .arrow1 {
  opacity: 1;
  z-index: 1;
  height: 130px;
  animation: 1s backInLeft;
  position: absolute;
  top: 150px;
  left: 100px;
}

.hero-section .content .logoBox .imgBox .arrow2 {
  opacity: 1;
  z-index: 3;
  height: 130px;
  animation: 1s backInLeft;
  position: absolute;
  top: 273px;
  left: 100px;
}

.hero-section .content .logoBox .imgBox .arrow3 {
  opacity: 1;
  z-index: 1;
  height: 130px;
  animation: 1s backInRight;
  position: absolute;
  top: 229px;
  left: 370px;
}

.hero-section .content .logoBox .imgBox .arrow4 {
  opacity: 1;
  z-index: 3;
  height: 130px;
  animation: 1s backInRight;
  position: absolute;
  top: 353px;
  left: 370px;
}

.hero-section .content .logoBox .imgBox .slash {
  opacity: 1;
  z-index: 1;
  height: 450px;
  animation: 1s bounceInDown;
  position: absolute;
  top: 30px;
  left: 265px;
}

.hero-section .content .textBox {
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  padding-left: 30px;
  display: flex;
}

.hero-section .content .textBox h1 {
  color: #5df8f5;
  text-align: left;
  margin-bottom: 25px;
  font-size: 45px;
  font-weight: 350;
}

.hero-section .content .textBox h1 span {
  color: #ff3870;
}

.hero-section .content .textBox .btn {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  background-color: #0000;
  border: 2px solid #fff;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 20px;
  display: flex;
}

.hero-section .content .textBox .btn .arrowLeft {
  margin-left: 10px;
  transition: transform .5s;
}

.hero-section .content .textBox .btn:hover {
  background-color: #ff3870;
  border: none;
}

.hero-section .content .textBox .btn:hover .arrowLeft {
  transform: rotate(90deg);
}

.stars {
  z-index: 1;
  width: 200vw;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  top: var(--top-offset);
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  filter: drop-shadow(0 0 6px);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  background: linear-gradient(45deg, currentColor, #0000);
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translate3d(calc(100vw + 30em), 0, 0);
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:first-child {
  --star-tail-length: 5.56em;
  --top-offset: 6.89vh;
  --fall-duration: 8.431s;
  --fall-delay: 4.938s;
}

.star:nth-child(2) {
  --star-tail-length: 5.89em;
  --top-offset: 77.37vh;
  --fall-duration: 6.246s;
  --fall-delay: .967s;
}

.star:nth-child(3) {
  --star-tail-length: 6.33em;
  --top-offset: 40.1vh;
  --fall-duration: 8.274s;
  --fall-delay: 2.423s;
}

.star:nth-child(4) {
  --star-tail-length: 5.71em;
  --top-offset: 65.33vh;
  --fall-duration: 11.56s;
  --fall-delay: 1.023s;
}

.star:nth-child(5) {
  --star-tail-length: 6.54em;
  --top-offset: 2.91vh;
  --fall-duration: 8.296s;
  --fall-delay: 7.468s;
}

.star:nth-child(6) {
  --star-tail-length: 5.43em;
  --top-offset: 82.05vh;
  --fall-duration: 9.121s;
  --fall-delay: 4.167s;
}

.star:nth-child(7) {
  --star-tail-length: 5.69em;
  --top-offset: 57.77vh;
  --fall-duration: 6.61s;
  --fall-delay: 9.502s;
}

.star:nth-child(8) {
  --star-tail-length: 6.85em;
  --top-offset: 48.28vh;
  --fall-duration: 6.754s;
  --fall-delay: 1.431s;
}

.star:nth-child(9) {
  --star-tail-length: 5.15em;
  --top-offset: 11.45vh;
  --fall-duration: 7.937s;
  --fall-delay: 2.128s;
}

.star:nth-child(10) {
  --star-tail-length: 6.15em;
  --top-offset: 26.18vh;
  --fall-duration: 11.008s;
  --fall-delay: 5.02s;
}

.star:nth-child(11) {
  --star-tail-length: 5.45em;
  --top-offset: 47.62vh;
  --fall-duration: 8.081s;
  --fall-delay: .581s;
}

.star:nth-child(12) {
  --star-tail-length: 6.18em;
  --top-offset: 95.37vh;
  --fall-duration: 7.992s;
  --fall-delay: 9.356s;
}

.star:nth-child(13) {
  --star-tail-length: 5.12em;
  --top-offset: 39.91vh;
  --fall-duration: 10.7s;
  --fall-delay: 8.848s;
}

.star:nth-child(14) {
  --star-tail-length: 6.12em;
  --top-offset: 52.98vh;
  --fall-duration: 6.522s;
  --fall-delay: .654s;
}

.star:nth-child(15) {
  --star-tail-length: 5.83em;
  --top-offset: 2.02vh;
  --fall-duration: 7.343s;
  --fall-delay: 9.332s;
}

.star:nth-child(16) {
  --star-tail-length: 6.91em;
  --top-offset: 37.94vh;
  --fall-duration: 6.467s;
  --fall-delay: 9.39s;
}

.star:nth-child(17) {
  --star-tail-length: 5.9em;
  --top-offset: 69.34vh;
  --fall-duration: 7.174s;
  --fall-delay: 9.595s;
}

.star:nth-child(18) {
  --star-tail-length: 7.18em;
  --top-offset: 9.57vh;
  --fall-duration: 7.001s;
  --fall-delay: 3.657s;
}

.star:nth-child(19) {
  --star-tail-length: 5.62em;
  --top-offset: 36.39vh;
  --fall-duration: 7.605s;
  --fall-delay: 3.396s;
}

.star:nth-child(20) {
  --star-tail-length: 6.94em;
  --top-offset: 71.47vh;
  --fall-duration: 8.49s;
  --fall-delay: 3.231s;
}

.star:nth-child(21) {
  --star-tail-length: 7.19em;
  --top-offset: .06vh;
  --fall-duration: 11.942s;
  --fall-delay: 8.916s;
}

.star:nth-child(22) {
  --star-tail-length: 5.96em;
  --top-offset: 36.37vh;
  --fall-duration: 10.106s;
  --fall-delay: 9.945s;
}

.star:nth-child(23) {
  --star-tail-length: 5.93em;
  --top-offset: 22.34vh;
  --fall-duration: 9.664s;
  --fall-delay: .338s;
}

.star:nth-child(24) {
  --star-tail-length: 7.1em;
  --top-offset: 24.3vh;
  --fall-duration: 8.758s;
  --fall-delay: 6.854s;
}

.star:nth-child(25) {
  --star-tail-length: 5.68em;
  --top-offset: 56.95vh;
  --fall-duration: 6.205s;
  --fall-delay: 4.435s;
}

.star:nth-child(26) {
  --star-tail-length: 7.24em;
  --top-offset: 87.15vh;
  --fall-duration: 6.498s;
  --fall-delay: 5.636s;
}

.star:nth-child(27) {
  --star-tail-length: 6.15em;
  --top-offset: 46.62vh;
  --fall-duration: 6.477s;
  --fall-delay: 9.402s;
}

.star:nth-child(28) {
  --star-tail-length: 5.04em;
  --top-offset: 9vh;
  --fall-duration: 9.117s;
  --fall-delay: 9.546s;
}

.star:nth-child(29) {
  --star-tail-length: 7.01em;
  --top-offset: 95.54vh;
  --fall-duration: 8.742s;
  --fall-delay: 4.359s;
}

.star:nth-child(30) {
  --star-tail-length: 7.18em;
  --top-offset: 41.7vh;
  --fall-duration: 9.689s;
  --fall-delay: 8.397s;
}

.star:nth-child(31) {
  --star-tail-length: 7.27em;
  --top-offset: 52.34vh;
  --fall-duration: 7.972s;
  --fall-delay: 7.545s;
}

.star:nth-child(32) {
  --star-tail-length: 7.41em;
  --top-offset: 64.31vh;
  --fall-duration: 6.746s;
  --fall-delay: 3.161s;
}

.star:nth-child(33) {
  --star-tail-length: 5.43em;
  --top-offset: 64.95vh;
  --fall-duration: 10.462s;
  --fall-delay: 4.903s;
}

.star:nth-child(34) {
  --star-tail-length: 6.5em;
  --top-offset: 69.55vh;
  --fall-duration: 7.926s;
  --fall-delay: 6.462s;
}

.star:nth-child(35) {
  --star-tail-length: 7.27em;
  --top-offset: 51.31vh;
  --fall-duration: 6.884s;
  --fall-delay: 5.807s;
}

.star:nth-child(36) {
  --star-tail-length: 6.86em;
  --top-offset: 61.55vh;
  --fall-duration: 7.98s;
  --fall-delay: 3.61s;
}

.star:nth-child(37) {
  --star-tail-length: 5.18em;
  --top-offset: 68.22vh;
  --fall-duration: 11.128s;
  --fall-delay: 2.83s;
}

.star:nth-child(38) {
  --star-tail-length: 5.69em;
  --top-offset: 90.54vh;
  --fall-duration: 6.22s;
  --fall-delay: 1.077s;
}

.star:nth-child(39) {
  --star-tail-length: 5.53em;
  --top-offset: 36.82vh;
  --fall-duration: 11.96s;
  --fall-delay: 8.134s;
}

.star:nth-child(40) {
  --star-tail-length: 6.3em;
  --top-offset: 25.01vh;
  --fall-duration: 9.696s;
  --fall-delay: 5.895s;
}

.star:nth-child(41) {
  --star-tail-length: 7.01em;
  --top-offset: 60.1vh;
  --fall-duration: 8.598s;
  --fall-delay: 3.842s;
}

.star:nth-child(42) {
  --star-tail-length: 6.11em;
  --top-offset: 57.81vh;
  --fall-duration: 11.285s;
  --fall-delay: 5.727s;
}

.star:nth-child(43) {
  --star-tail-length: 5.5em;
  --top-offset: 25.16vh;
  --fall-duration: 9.683s;
  --fall-delay: 7.23s;
}

.star:nth-child(44) {
  --star-tail-length: 6.14em;
  --top-offset: 31.67vh;
  --fall-duration: 6.646s;
  --fall-delay: 4.283s;
}

.star:nth-child(45) {
  --star-tail-length: 6.51em;
  --top-offset: 80.57vh;
  --fall-duration: 10.529s;
  --fall-delay: .21s;
}

.star:nth-child(46) {
  --star-tail-length: 5.47em;
  --top-offset: 96.36vh;
  --fall-duration: 6.531s;
  --fall-delay: 5.916s;
}

.star:nth-child(47) {
  --star-tail-length: 7.16em;
  --top-offset: 32.58vh;
  --fall-duration: 11.579s;
  --fall-delay: 6.249s;
}

.star:nth-child(48) {
  --star-tail-length: 5.09em;
  --top-offset: 89.01vh;
  --fall-duration: 11.996s;
  --fall-delay: 4.05s;
}

.star:nth-child(49) {
  --star-tail-length: 5.5em;
  --top-offset: 15.93vh;
  --fall-duration: 8.599s;
  --fall-delay: .31s;
}

.star:nth-child(50) {
  --star-tail-length: 6.3em;
  --top-offset: 43.84vh;
  --fall-duration: 6.697s;
  --fall-delay: 7.925s;
}

.star:nth-child(51) {
  --star-tail-length: 5.3em;
  --top-offset: 7.28vh;
  --fall-duration: 10.311s;
  --fall-delay: 2.824s;
}

.star:nth-child(52) {
  --star-tail-length: 6.51em;
  --top-offset: 9.8vh;
  --fall-duration: 9.003s;
  --fall-delay: 5.616s;
}

.star:nth-child(53) {
  --star-tail-length: 5.57em;
  --top-offset: 92.83vh;
  --fall-duration: 10.371s;
  --fall-delay: 5.629s;
}

.star:nth-child(54) {
  --star-tail-length: 6.24em;
  --top-offset: 41.4vh;
  --fall-duration: 7.064s;
  --fall-delay: 3.921s;
}

.star:nth-child(55) {
  --star-tail-length: 6.38em;
  --top-offset: 49.32vh;
  --fall-duration: 9.155s;
  --fall-delay: 9.628s;
}

.star:nth-child(56) {
  --star-tail-length: 6.8em;
  --top-offset: 65.35vh;
  --fall-duration: 7.056s;
  --fall-delay: 9.35s;
}

.star:nth-child(57) {
  --star-tail-length: 5.61em;
  --top-offset: 85.91vh;
  --fall-duration: 6.96s;
  --fall-delay: 3.352s;
}

.star:nth-child(58) {
  --star-tail-length: 7.27em;
  --top-offset: 3.7vh;
  --fall-duration: 6.716s;
  --fall-delay: 1.027s;
}

.star:before, .star:after {
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  border-radius: inherit;
  background: linear-gradient(45deg, #0000, currentColor, #0000);
  height: 100%;
  animation: 2s linear infinite blink;
  position: absolute;
}

.star:before {
  transform: rotate(45deg);
}

.star:after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%, 80% {
    opacity: .4;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes blink {
  50% {
    opacity: .6;
  }
}

.Main2 .hero-section {
  background: linear-gradient(90deg, #1e182e 42%, #171e37 77%);
}

@media screen and (max-width: 992px) {
  .Main2 .hero-section, .Main2 .hero-section .stars {
    height: auto;
  }

  .Main2 .hero-section .content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    display: flex;
  }

  .Main2 .hero-section .content .logoBox {
    justify-content: center;
    width: 100%;
    height: 50vh;
    display: flex;
  }

  .Main2 .hero-section .content .logoBox .imgBox {
    width: 330px;
    height: 330px;
    position: relative;
  }

  .Main2 .hero-section .content .logoBox .imgBox .profile1 {
    height: 230px;
    top: 60px;
    left: 70px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow1 {
    height: 70px;
    top: 135px;
    left: 20px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow2 {
    opacity: 1;
    height: 70px;
    top: 200px;
    left: 20px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow3 {
    height: 70px;
    top: 175px;
    left: 180px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow4 {
    height: 70px;
    top: 240px;
    left: 180px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .slash {
    width: 90px;
    height: 250px;
    top: 60px;
    left: 120px;
  }

  .Main2 .hero-section .content .textBox {
    justify-content: flex-start;
    width: 100%;
    height: 50vh;
    padding-top: 10px;
    padding-left: 0;
  }

  .Main2 .hero-section .content .textBox h1 {
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
    font-size: 30px;
  }
}

/*# sourceMappingURL=src_components_Hero_hero_scss_css_bad6b30c._.single.css.map*/