/* [project]/src/components/Hero/hero.scss.css [app-client] (css) */
body {
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  display: flex;
  overflow: hidden;
}

.hero-section {
  background: linear-gradient(90deg, #1e182e 42%, #171e37 77%);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.hero-section .content {
  align-items: center;
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.hero-section .content .logoBox {
  align-items: center;
  width: 50vw;
  height: 100vh;
  display: flex;
}

.hero-section .content .logoBox .imgBox {
  width: 450px;
  height: 450px;
  position: relative;
}

.hero-section .content .logoBox .imgBox .profile1 {
  opacity: 1;
  z-index: 2;
  --animate-delay: 2s;
  height: 400px;
  animation: 1s bounceInUp;
  position: absolute;
  top: 20px;
  left: 200px;
}

.hero-section .content .logoBox .imgBox .arrow1 {
  opacity: 1;
  z-index: 1;
  height: 130px;
  animation: 1s backInLeft;
  position: absolute;
  top: 150px;
  left: 100px;
}

.hero-section .content .logoBox .imgBox .arrow2 {
  opacity: 1;
  z-index: 3;
  height: 130px;
  animation: 1s backInLeft;
  position: absolute;
  top: 273px;
  left: 100px;
}

.hero-section .content .logoBox .imgBox .arrow3 {
  opacity: 1;
  z-index: 1;
  height: 130px;
  animation: 1s backInRight;
  position: absolute;
  top: 229px;
  left: 370px;
}

.hero-section .content .logoBox .imgBox .arrow4 {
  opacity: 1;
  z-index: 3;
  height: 130px;
  animation: 1s backInRight;
  position: absolute;
  top: 353px;
  left: 370px;
}

.hero-section .content .logoBox .imgBox .slash {
  opacity: 1;
  z-index: 1;
  height: 450px;
  animation: 1s bounceInDown;
  position: absolute;
  top: 30px;
  left: 265px;
}

.hero-section .content .textBox {
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  padding-left: 30px;
  display: flex;
}

.hero-section .content .textBox h1 {
  color: #5df8f5;
  text-align: left;
  margin-bottom: 25px;
  font-size: 45px;
  font-weight: 350;
}

.hero-section .content .textBox h1 span {
  color: #ff3870;
}

.hero-section .content .textBox .btn {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  background-color: #0000;
  border: 2px solid #fff;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 20px;
  display: flex;
}

.hero-section .content .textBox .btn .arrowLeft {
  margin-left: 10px;
  transition: transform .5s;
}

.hero-section .content .textBox .btn:hover {
  background-color: #ff3870;
  border: none;
}

.hero-section .content .textBox .btn:hover .arrowLeft {
  transform: rotate(90deg);
}

.stars {
  z-index: 1;
  width: 200vw;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  top: var(--top-offset);
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  filter: drop-shadow(0 0 6px);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  background: linear-gradient(45deg, currentColor, #0000);
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translate3d(calc(100vw + 30em), 0, 0);
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:first-child {
  --star-tail-length: 5.1em;
  --top-offset: 37.87vh;
  --fall-duration: 9.935s;
  --fall-delay: .41s;
}

.star:nth-child(2) {
  --star-tail-length: 5.35em;
  --top-offset: 70.88vh;
  --fall-duration: 8.422s;
  --fall-delay: 9.396s;
}

.star:nth-child(3) {
  --star-tail-length: 5.84em;
  --top-offset: 46.98vh;
  --fall-duration: 7.074s;
  --fall-delay: 4.667s;
}

.star:nth-child(4) {
  --star-tail-length: 5.05em;
  --top-offset: 31.27vh;
  --fall-duration: 10.382s;
  --fall-delay: 5.407s;
}

.star:nth-child(5) {
  --star-tail-length: 5.3em;
  --top-offset: 48.57vh;
  --fall-duration: 8.928s;
  --fall-delay: 4.327s;
}

.star:nth-child(6) {
  --star-tail-length: 6.89em;
  --top-offset: 17.25vh;
  --fall-duration: 11.682s;
  --fall-delay: .373s;
}

.star:nth-child(7) {
  --star-tail-length: 5.03em;
  --top-offset: 87.41vh;
  --fall-duration: 7.828s;
  --fall-delay: 6.713s;
}

.star:nth-child(8) {
  --star-tail-length: 5.88em;
  --top-offset: 41.41vh;
  --fall-duration: 6.606s;
  --fall-delay: .883s;
}

.star:nth-child(9) {
  --star-tail-length: 5.54em;
  --top-offset: 27.95vh;
  --fall-duration: 6.555s;
  --fall-delay: 6.776s;
}

.star:nth-child(10) {
  --star-tail-length: 5.1em;
  --top-offset: 99.07vh;
  --fall-duration: 9.231s;
  --fall-delay: 7.125s;
}

.star:nth-child(11) {
  --star-tail-length: 5.99em;
  --top-offset: 7.56vh;
  --fall-duration: 11.443s;
  --fall-delay: 4.762s;
}

.star:nth-child(12) {
  --star-tail-length: 5.68em;
  --top-offset: 22.09vh;
  --fall-duration: 6.99s;
  --fall-delay: 71ms;
}

.star:nth-child(13) {
  --star-tail-length: 6.08em;
  --top-offset: 65.21vh;
  --fall-duration: 7.617s;
  --fall-delay: 2.608s;
}

.star:nth-child(14) {
  --star-tail-length: 5.33em;
  --top-offset: 48.03vh;
  --fall-duration: 6.563s;
  --fall-delay: 7.496s;
}

.star:nth-child(15) {
  --star-tail-length: 6.37em;
  --top-offset: 19.34vh;
  --fall-duration: 6.039s;
  --fall-delay: 6.185s;
}

.star:nth-child(16) {
  --star-tail-length: 6.76em;
  --top-offset: 63.58vh;
  --fall-duration: 8.117s;
  --fall-delay: 2.765s;
}

.star:nth-child(17) {
  --star-tail-length: 7.2em;
  --top-offset: 56.95vh;
  --fall-duration: 11.171s;
  --fall-delay: 1.223s;
}

.star:nth-child(18) {
  --star-tail-length: 7.41em;
  --top-offset: 54.96vh;
  --fall-duration: 7.522s;
  --fall-delay: .837s;
}

.star:nth-child(19) {
  --star-tail-length: 5.03em;
  --top-offset: 31.94vh;
  --fall-duration: 11.315s;
  --fall-delay: .577s;
}

.star:nth-child(20) {
  --star-tail-length: 6.23em;
  --top-offset: 22.29vh;
  --fall-duration: 9.981s;
  --fall-delay: 4.135s;
}

.star:nth-child(21) {
  --star-tail-length: 6.79em;
  --top-offset: 55.67vh;
  --fall-duration: 11.17s;
  --fall-delay: 5.723s;
}

.star:nth-child(22) {
  --star-tail-length: 5.23em;
  --top-offset: 77.88vh;
  --fall-duration: 8.871s;
  --fall-delay: 4.47s;
}

.star:nth-child(23) {
  --star-tail-length: 5.28em;
  --top-offset: 64.34vh;
  --fall-duration: 9.317s;
  --fall-delay: 7.822s;
}

.star:nth-child(24) {
  --star-tail-length: 7.42em;
  --top-offset: 49.28vh;
  --fall-duration: 7.39s;
  --fall-delay: 4.461s;
}

.star:nth-child(25) {
  --star-tail-length: 6.8em;
  --top-offset: 86.27vh;
  --fall-duration: 11.794s;
  --fall-delay: 4.171s;
}

.star:nth-child(26) {
  --star-tail-length: 6.08em;
  --top-offset: 73.36vh;
  --fall-duration: 11.795s;
  --fall-delay: 89ms;
}

.star:nth-child(27) {
  --star-tail-length: 7.06em;
  --top-offset: 64.96vh;
  --fall-duration: 9.529s;
  --fall-delay: 9.538s;
}

.star:nth-child(28) {
  --star-tail-length: 5.69em;
  --top-offset: 63.69vh;
  --fall-duration: 6.147s;
  --fall-delay: 6.58s;
}

.star:nth-child(29) {
  --star-tail-length: 5.44em;
  --top-offset: 6.82vh;
  --fall-duration: 11.357s;
  --fall-delay: .192s;
}

.star:nth-child(30) {
  --star-tail-length: 6.11em;
  --top-offset: 36.54vh;
  --fall-duration: 9.529s;
  --fall-delay: 5.412s;
}

.star:nth-child(31) {
  --star-tail-length: 5.07em;
  --top-offset: 61.43vh;
  --fall-duration: 7.985s;
  --fall-delay: 2.157s;
}

.star:nth-child(32) {
  --star-tail-length: 6.49em;
  --top-offset: 20.29vh;
  --fall-duration: 10.407s;
  --fall-delay: 8.029s;
}

.star:nth-child(33) {
  --star-tail-length: 6.28em;
  --top-offset: 65.92vh;
  --fall-duration: 10.048s;
  --fall-delay: 2.487s;
}

.star:nth-child(34) {
  --star-tail-length: 7.41em;
  --top-offset: 60.18vh;
  --fall-duration: 7.277s;
  --fall-delay: 4.372s;
}

.star:nth-child(35) {
  --star-tail-length: 6.57em;
  --top-offset: 29.98vh;
  --fall-duration: 6.621s;
  --fall-delay: 80ms;
}

.star:nth-child(36) {
  --star-tail-length: 6.81em;
  --top-offset: 99.78vh;
  --fall-duration: 8.17s;
  --fall-delay: 3.641s;
}

.star:nth-child(37) {
  --star-tail-length: 5.57em;
  --top-offset: 5.17vh;
  --fall-duration: 8.823s;
  --fall-delay: 2.846s;
}

.star:nth-child(38) {
  --star-tail-length: 7.1em;
  --top-offset: 33.33vh;
  --fall-duration: 10.473s;
  --fall-delay: 3.285s;
}

.star:nth-child(39) {
  --star-tail-length: 5.17em;
  --top-offset: 64.97vh;
  --fall-duration: 11.845s;
  --fall-delay: 8.831s;
}

.star:nth-child(40) {
  --star-tail-length: 5.05em;
  --top-offset: 76.61vh;
  --fall-duration: 10.808s;
  --fall-delay: 7.584s;
}

.star:nth-child(41) {
  --star-tail-length: 5.34em;
  --top-offset: 34.34vh;
  --fall-duration: 7.44s;
  --fall-delay: 3.228s;
}

.star:nth-child(42) {
  --star-tail-length: 5.14em;
  --top-offset: 99.63vh;
  --fall-duration: 9.349s;
  --fall-delay: 5.246s;
}

.star:nth-child(43) {
  --star-tail-length: 5.29em;
  --top-offset: 10.23vh;
  --fall-duration: 11.975s;
  --fall-delay: .597s;
}

.star:nth-child(44) {
  --star-tail-length: 5.96em;
  --top-offset: 25.77vh;
  --fall-duration: 7.952s;
  --fall-delay: 4.493s;
}

.star:nth-child(45) {
  --star-tail-length: 6.98em;
  --top-offset: 4.9vh;
  --fall-duration: 6.536s;
  --fall-delay: 6.98s;
}

.star:nth-child(46) {
  --star-tail-length: 5.94em;
  --top-offset: 81.07vh;
  --fall-duration: 7.54s;
  --fall-delay: 5.938s;
}

.star:nth-child(47) {
  --star-tail-length: 7.18em;
  --top-offset: 33.81vh;
  --fall-duration: 7.442s;
  --fall-delay: 1.351s;
}

.star:nth-child(48) {
  --star-tail-length: 7.15em;
  --top-offset: 33.33vh;
  --fall-duration: 9.674s;
  --fall-delay: .156s;
}

.star:nth-child(49) {
  --star-tail-length: 5.56em;
  --top-offset: 84.58vh;
  --fall-duration: 10.893s;
  --fall-delay: 1.954s;
}

.star:nth-child(50) {
  --star-tail-length: 6.19em;
  --top-offset: 45.47vh;
  --fall-duration: 9.373s;
  --fall-delay: 5.417s;
}

.star:nth-child(51) {
  --star-tail-length: 5.04em;
  --top-offset: 27.6vh;
  --fall-duration: 10.979s;
  --fall-delay: .973s;
}

.star:nth-child(52) {
  --star-tail-length: 6.92em;
  --top-offset: 20.11vh;
  --fall-duration: 10.559s;
  --fall-delay: 7.482s;
}

.star:nth-child(53) {
  --star-tail-length: 5.2em;
  --top-offset: 72.76vh;
  --fall-duration: 9.324s;
  --fall-delay: 7.587s;
}

.star:nth-child(54) {
  --star-tail-length: 6.02em;
  --top-offset: 72.73vh;
  --fall-duration: 7.32s;
  --fall-delay: 2.878s;
}

.star:nth-child(55) {
  --star-tail-length: 6.85em;
  --top-offset: 42.21vh;
  --fall-duration: 6.003s;
  --fall-delay: 1.002s;
}

.star:nth-child(56) {
  --star-tail-length: 5.76em;
  --top-offset: 76.84vh;
  --fall-duration: 6.127s;
  --fall-delay: 2.048s;
}

.star:nth-child(57) {
  --star-tail-length: 6.98em;
  --top-offset: 81.81vh;
  --fall-duration: 7.976s;
  --fall-delay: 1.621s;
}

.star:nth-child(58) {
  --star-tail-length: 5.24em;
  --top-offset: 94.71vh;
  --fall-duration: 10.207s;
  --fall-delay: 1.309s;
}

.star:before, .star:after {
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  border-radius: inherit;
  background: linear-gradient(45deg, #0000, currentColor, #0000);
  height: 100%;
  animation: 2s linear infinite blink;
  position: absolute;
}

.star:before {
  transform: rotate(45deg);
}

.star:after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%, 80% {
    opacity: .4;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes blink {
  50% {
    opacity: .6;
  }
}

.Main2 .hero-section {
  background: linear-gradient(90deg, #1e182e 42%, #171e37 77%);
}

@media screen and (max-width: 992px) {
  .Main2 .hero-section, .Main2 .hero-section .stars {
    height: auto;
  }

  .Main2 .hero-section .content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    display: flex;
  }

  .Main2 .hero-section .content .logoBox {
    justify-content: center;
    width: 100%;
    height: 50vh;
    display: flex;
  }

  .Main2 .hero-section .content .logoBox .imgBox {
    width: 330px;
    height: 330px;
    position: relative;
  }

  .Main2 .hero-section .content .logoBox .imgBox .profile1 {
    height: 230px;
    top: 60px;
    left: 70px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow1 {
    height: 70px;
    top: 135px;
    left: 20px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow2 {
    opacity: 1;
    height: 70px;
    top: 200px;
    left: 20px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow3 {
    height: 70px;
    top: 175px;
    left: 180px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow4 {
    height: 70px;
    top: 240px;
    left: 180px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .slash {
    width: 90px;
    height: 250px;
    top: 60px;
    left: 120px;
  }

  .Main2 .hero-section .content .textBox {
    justify-content: flex-start;
    width: 100%;
    height: 50vh;
    padding-top: 10px;
    padding-left: 0;
  }

  .Main2 .hero-section .content .textBox h1 {
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
    font-size: 30px;
  }
}

/*# sourceMappingURL=src_components_Hero_hero_scss_css_bad6b30c._.single.css.map*/