@import "https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap";
/* [project]/src/components/backBtn/style.scss.css [app-client] (css) */
.backBtn {
  cursor: pointer;
  color: #fff;
  z-index: 900;
  background-color: #0000;
  border: 1px solid #0000;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  transition: all .3s linear;
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
}

.backBtn img {
  filter: brightness() invert();
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
}

/* [project]/src/containers/Career/style.scss.css [app-client] (css) */
.design-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px 0;
  font-family: Jost;
  display: flex;
}

.design {
  justify-content: center;
  align-items: center;
  display: flex;
}

.timeline {
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.timeline-content {
  color: #fff;
  border-radius: 6px;
  margin: 1rem 1rem 20px;
  padding: 1.75rem;
  transition: all .4s;
  overflow-wrap: break-word !important;
}

.timeline-component {
  align-items: center;
  margin: 0 -15px;
  display: flex;
}

.timeline-component .textCareer {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .timeline {
    grid-template-columns: 1fr 3px 1fr;
    display: grid;
  }

  .timeline-middle {
    background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    width: 3px;
    height: 100%;
    position: relative;
  }

  .main-middle {
    opacity: 0;
  }

  .timeline-circle {
    background-image: linear-gradient(45deg, #f27121, #e94057, #8a2387);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .timeline {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .timeline-middle {
    display: none;
  }

  .timeline-component {
    padding: 0 10px;
  }

  .deadGreen, .neonBlue {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  .deadOrangeBorder, .brightOrange {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  h3 {
    font-size: 16px;
  }

  .career p {
    font-size: 14px;
  }
}

.lineCardCareer {
  background-color: #5df8f5;
  border-radius: 20px;
  width: 7px;
  height: 100%;
  margin: 0 10px;
}

.neonPink {
  background-color: #ff3870;
}

.offBlue {
  background-color: #568ea3;
}

.top {
  background-image: linear-gradient(45deg, #f27121, #e94057b3, #8a238703);
}

.bottom {
  background-image: linear-gradient(45deg, #f2712103, #e94057b3, #8a2387);
}

.study {
  text-align: right !important;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.career .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.career .animatedFadeInUp {
  opacity: 0;
}

.career .fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}

.career .one {
  animation-delay: 0s;
}

.career .two {
  animation-delay: .2s;
}

.career .three {
  animation-delay: .3s;
}

.career .four {
  animation-delay: .4s;
}

.career .five {
  animation-delay: .5s;
}

.career .six {
  animation-delay: .6s;
}

.deadGreen {
  background-color: #bddd4c !important;
}

.deadOrange {
  background-color: #ff9704 !important;
}

.neonBlue {
  background-color: #56c2f3 !important;
}

.brightOrange {
  background-color: #dd3d01 !important;
}

.deadBlue {
  background-color: #458184 !important;
}

/*# sourceMappingURL=src_943a75e2._.css.map*/