/* [project]/src/components/Hero/hero.scss.css [app-client] (css) */
body {
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  display: flex;
  overflow: hidden;
}

.hero-section {
  background: linear-gradient(90deg, #1e182e 42%, #171e37 77%);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.hero-section .content {
  align-items: center;
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.hero-section .content .logoBox {
  align-items: center;
  width: 50vw;
  height: 100vh;
  display: flex;
}

.hero-section .content .logoBox .imgBox {
  width: 450px;
  height: 450px;
  position: relative;
}

.hero-section .content .logoBox .imgBox .profile1 {
  opacity: 1;
  z-index: 2;
  --animate-delay: 2s;
  height: 400px;
  animation: 1s bounceInUp;
  position: absolute;
  top: 20px;
  left: 200px;
}

.hero-section .content .logoBox .imgBox .arrow1 {
  opacity: 1;
  z-index: 1;
  height: 130px;
  animation: 1s backInLeft;
  position: absolute;
  top: 150px;
  left: 100px;
}

.hero-section .content .logoBox .imgBox .arrow2 {
  opacity: 1;
  z-index: 3;
  height: 130px;
  animation: 1s backInLeft;
  position: absolute;
  top: 273px;
  left: 100px;
}

.hero-section .content .logoBox .imgBox .arrow3 {
  opacity: 1;
  z-index: 1;
  height: 130px;
  animation: 1s backInRight;
  position: absolute;
  top: 229px;
  left: 370px;
}

.hero-section .content .logoBox .imgBox .arrow4 {
  opacity: 1;
  z-index: 3;
  height: 130px;
  animation: 1s backInRight;
  position: absolute;
  top: 353px;
  left: 370px;
}

.hero-section .content .logoBox .imgBox .slash {
  opacity: 1;
  z-index: 1;
  height: 450px;
  animation: 1s bounceInDown;
  position: absolute;
  top: 30px;
  left: 265px;
}

.hero-section .content .textBox {
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  padding-left: 30px;
  display: flex;
}

.hero-section .content .textBox h1 {
  color: #5df8f5;
  text-align: left;
  margin-bottom: 25px;
  font-size: 45px;
  font-weight: 350;
}

.hero-section .content .textBox h1 span {
  color: #ff3870;
}

.hero-section .content .textBox .btn {
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  background-color: #0000;
  border: 2px solid #fff;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 20px;
  display: flex;
}

.hero-section .content .textBox .btn .arrowLeft {
  margin-left: 10px;
  transition: transform .5s;
}

.hero-section .content .textBox .btn:hover {
  background-color: #ff3870;
  border: none;
}

.hero-section .content .textBox .btn:hover .arrowLeft {
  transform: rotate(90deg);
}

.stars {
  z-index: 1;
  width: 200vw;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  top: var(--top-offset);
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  filter: drop-shadow(0 0 6px);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  background: linear-gradient(45deg, currentColor, #0000);
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translate3d(calc(100vw + 30em), 0, 0);
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:first-child {
  --star-tail-length: 5.86em;
  --top-offset: 32.64vh;
  --fall-duration: 9.945s;
  --fall-delay: .841s;
}

.star:nth-child(2) {
  --star-tail-length: 5.18em;
  --top-offset: 54.77vh;
  --fall-duration: 11.732s;
  --fall-delay: 2.879s;
}

.star:nth-child(3) {
  --star-tail-length: 5.91em;
  --top-offset: 76.24vh;
  --fall-duration: 10.896s;
  --fall-delay: 2.598s;
}

.star:nth-child(4) {
  --star-tail-length: 7.25em;
  --top-offset: 81.59vh;
  --fall-duration: 8.929s;
  --fall-delay: 2.58s;
}

.star:nth-child(5) {
  --star-tail-length: 6.05em;
  --top-offset: 70.71vh;
  --fall-duration: 7.618s;
  --fall-delay: 5.584s;
}

.star:nth-child(6) {
  --star-tail-length: 5.84em;
  --top-offset: 79.15vh;
  --fall-duration: 10.344s;
  --fall-delay: 3.356s;
}

.star:nth-child(7) {
  --star-tail-length: 7.43em;
  --top-offset: 99.2vh;
  --fall-duration: 10.625s;
  --fall-delay: 5.913s;
}

.star:nth-child(8) {
  --star-tail-length: 5.64em;
  --top-offset: 69.38vh;
  --fall-duration: 8.229s;
  --fall-delay: 7.557s;
}

.star:nth-child(9) {
  --star-tail-length: 6.95em;
  --top-offset: 50.62vh;
  --fall-duration: 7.378s;
  --fall-delay: 2.17s;
}

.star:nth-child(10) {
  --star-tail-length: 7.08em;
  --top-offset: 30.85vh;
  --fall-duration: 8.639s;
  --fall-delay: 8.661s;
}

.star:nth-child(11) {
  --star-tail-length: 5.84em;
  --top-offset: 28.1vh;
  --fall-duration: 6.558s;
  --fall-delay: 5.487s;
}

.star:nth-child(12) {
  --star-tail-length: 7.25em;
  --top-offset: 44.49vh;
  --fall-duration: 6.565s;
  --fall-delay: 3.914s;
}

.star:nth-child(13) {
  --star-tail-length: 6.31em;
  --top-offset: 50.6vh;
  --fall-duration: 9.759s;
  --fall-delay: 9.474s;
}

.star:nth-child(14) {
  --star-tail-length: 6.64em;
  --top-offset: 1.76vh;
  --fall-duration: 7.055s;
  --fall-delay: 4.485s;
}

.star:nth-child(15) {
  --star-tail-length: 7.22em;
  --top-offset: 63.57vh;
  --fall-duration: 11.902s;
  --fall-delay: 9.784s;
}

.star:nth-child(16) {
  --star-tail-length: 5.56em;
  --top-offset: 82.19vh;
  --fall-duration: 10.86s;
  --fall-delay: 4.362s;
}

.star:nth-child(17) {
  --star-tail-length: 5.03em;
  --top-offset: 63.14vh;
  --fall-duration: 9.12s;
  --fall-delay: 2.127s;
}

.star:nth-child(18) {
  --star-tail-length: 6.2em;
  --top-offset: 47.83vh;
  --fall-duration: 8.184s;
  --fall-delay: 1.107s;
}

.star:nth-child(19) {
  --star-tail-length: 5.12em;
  --top-offset: 2.98vh;
  --fall-duration: 8.056s;
  --fall-delay: 9.693s;
}

.star:nth-child(20) {
  --star-tail-length: 5.97em;
  --top-offset: 21.74vh;
  --fall-duration: 6.125s;
  --fall-delay: 3.691s;
}

.star:nth-child(21) {
  --star-tail-length: 6.33em;
  --top-offset: 96.07vh;
  --fall-duration: 11.638s;
  --fall-delay: 7.827s;
}

.star:nth-child(22) {
  --star-tail-length: 5.13em;
  --top-offset: 77.69vh;
  --fall-duration: 10.183s;
  --fall-delay: 8.383s;
}

.star:nth-child(23) {
  --star-tail-length: 5.93em;
  --top-offset: 45.8vh;
  --fall-duration: 11.47s;
  --fall-delay: 7.117s;
}

.star:nth-child(24) {
  --star-tail-length: 6.62em;
  --top-offset: 22.33vh;
  --fall-duration: 6.389s;
  --fall-delay: 1.026s;
}

.star:nth-child(25) {
  --star-tail-length: 5.7em;
  --top-offset: 17.66vh;
  --fall-duration: 8.893s;
  --fall-delay: 3.65s;
}

.star:nth-child(26) {
  --star-tail-length: 5.82em;
  --top-offset: 65.24vh;
  --fall-duration: 11.396s;
  --fall-delay: 8.808s;
}

.star:nth-child(27) {
  --star-tail-length: 6.67em;
  --top-offset: 22.47vh;
  --fall-duration: 11.952s;
  --fall-delay: 3.931s;
}

.star:nth-child(28) {
  --star-tail-length: 5.14em;
  --top-offset: 13.26vh;
  --fall-duration: 9.958s;
  --fall-delay: 4.38s;
}

.star:nth-child(29) {
  --star-tail-length: 6.75em;
  --top-offset: 31.79vh;
  --fall-duration: 7.443s;
  --fall-delay: 4.989s;
}

.star:nth-child(30) {
  --star-tail-length: 6.05em;
  --top-offset: 20.4vh;
  --fall-duration: 11.199s;
  --fall-delay: 5.997s;
}

.star:nth-child(31) {
  --star-tail-length: 7.27em;
  --top-offset: 36.9vh;
  --fall-duration: 9.343s;
  --fall-delay: 6.963s;
}

.star:nth-child(32) {
  --star-tail-length: 7.05em;
  --top-offset: 92.97vh;
  --fall-duration: 8.544s;
  --fall-delay: 5.607s;
}

.star:nth-child(33) {
  --star-tail-length: 5.05em;
  --top-offset: 82.38vh;
  --fall-duration: 7.001s;
  --fall-delay: 1.823s;
}

.star:nth-child(34) {
  --star-tail-length: 6.07em;
  --top-offset: 42.26vh;
  --fall-duration: 10.692s;
  --fall-delay: 3.625s;
}

.star:nth-child(35) {
  --star-tail-length: 6.2em;
  --top-offset: 49vh;
  --fall-duration: 10.381s;
  --fall-delay: 6.767s;
}

.star:nth-child(36) {
  --star-tail-length: 7.28em;
  --top-offset: 10.78vh;
  --fall-duration: 11.446s;
  --fall-delay: 4.705s;
}

.star:nth-child(37) {
  --star-tail-length: 6.65em;
  --top-offset: 98.04vh;
  --fall-duration: 8.827s;
  --fall-delay: 4.599s;
}

.star:nth-child(38) {
  --star-tail-length: 5.87em;
  --top-offset: 15.63vh;
  --fall-duration: 7.409s;
  --fall-delay: 5.132s;
}

.star:nth-child(39) {
  --star-tail-length: 6.79em;
  --top-offset: 46.54vh;
  --fall-duration: 7.511s;
  --fall-delay: 6.222s;
}

.star:nth-child(40) {
  --star-tail-length: 6.55em;
  --top-offset: 18.67vh;
  --fall-duration: 9.062s;
  --fall-delay: 1.336s;
}

.star:nth-child(41) {
  --star-tail-length: 7.25em;
  --top-offset: 21.1vh;
  --fall-duration: 9.233s;
  --fall-delay: 2.998s;
}

.star:nth-child(42) {
  --star-tail-length: 6em;
  --top-offset: 68.52vh;
  --fall-duration: 9.935s;
  --fall-delay: 6.347s;
}

.star:nth-child(43) {
  --star-tail-length: 5.77em;
  --top-offset: 56.48vh;
  --fall-duration: 6.056s;
  --fall-delay: 4.036s;
}

.star:nth-child(44) {
  --star-tail-length: 7.11em;
  --top-offset: 28.93vh;
  --fall-duration: 6.869s;
  --fall-delay: 3.295s;
}

.star:nth-child(45) {
  --star-tail-length: 7.04em;
  --top-offset: 15.44vh;
  --fall-duration: 7.368s;
  --fall-delay: 3.116s;
}

.star:nth-child(46) {
  --star-tail-length: 5.82em;
  --top-offset: 58.75vh;
  --fall-duration: 7.489s;
  --fall-delay: .735s;
}

.star:nth-child(47) {
  --star-tail-length: 5.21em;
  --top-offset: 77.29vh;
  --fall-duration: 7.54s;
  --fall-delay: .275s;
}

.star:nth-child(48) {
  --star-tail-length: 5.57em;
  --top-offset: 93.01vh;
  --fall-duration: 10.569s;
  --fall-delay: 7.257s;
}

.star:nth-child(49) {
  --star-tail-length: 7.08em;
  --top-offset: 61.24vh;
  --fall-duration: 9.888s;
  --fall-delay: 3.464s;
}

.star:nth-child(50) {
  --star-tail-length: 6.88em;
  --top-offset: 39.23vh;
  --fall-duration: 6.289s;
  --fall-delay: .568s;
}

.star:nth-child(51) {
  --star-tail-length: 5.33em;
  --top-offset: 43.14vh;
  --fall-duration: 9.255s;
  --fall-delay: 6.584s;
}

.star:nth-child(52) {
  --star-tail-length: 5.92em;
  --top-offset: 46.85vh;
  --fall-duration: 9.612s;
  --fall-delay: 1.524s;
}

.star:nth-child(53) {
  --star-tail-length: 5.85em;
  --top-offset: 3.73vh;
  --fall-duration: 7.122s;
  --fall-delay: .542s;
}

.star:nth-child(54) {
  --star-tail-length: 7.21em;
  --top-offset: 85.18vh;
  --fall-duration: 11.399s;
  --fall-delay: .149s;
}

.star:nth-child(55) {
  --star-tail-length: 5.39em;
  --top-offset: 42.82vh;
  --fall-duration: 10.844s;
  --fall-delay: 2.827s;
}

.star:nth-child(56) {
  --star-tail-length: 7.5em;
  --top-offset: 84.69vh;
  --fall-duration: 7.519s;
  --fall-delay: 4.653s;
}

.star:nth-child(57) {
  --star-tail-length: 5.23em;
  --top-offset: 95.41vh;
  --fall-duration: 6.266s;
  --fall-delay: 7.79s;
}

.star:nth-child(58) {
  --star-tail-length: 5.01em;
  --top-offset: 40.58vh;
  --fall-duration: 6.818s;
  --fall-delay: 1.699s;
}

.star:before, .star:after {
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  border-radius: inherit;
  background: linear-gradient(45deg, #0000, currentColor, #0000);
  height: 100%;
  animation: 2s linear infinite blink;
  position: absolute;
}

.star:before {
  transform: rotate(45deg);
}

.star:after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%, 80% {
    opacity: .4;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes blink {
  50% {
    opacity: .6;
  }
}

.Main2 .hero-section {
  background: linear-gradient(90deg, #1e182e 42%, #171e37 77%);
}

@media screen and (max-width: 992px) {
  .Main2 .hero-section, .Main2 .hero-section .stars {
    height: auto;
  }

  .Main2 .hero-section .content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    display: flex;
  }

  .Main2 .hero-section .content .logoBox {
    justify-content: center;
    width: 100%;
    height: 50vh;
    display: flex;
  }

  .Main2 .hero-section .content .logoBox .imgBox {
    width: 330px;
    height: 330px;
    position: relative;
  }

  .Main2 .hero-section .content .logoBox .imgBox .profile1 {
    height: 230px;
    top: 60px;
    left: 70px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow1 {
    height: 70px;
    top: 135px;
    left: 20px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow2 {
    opacity: 1;
    height: 70px;
    top: 200px;
    left: 20px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow3 {
    height: 70px;
    top: 175px;
    left: 180px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .arrow4 {
    height: 70px;
    top: 240px;
    left: 180px;
  }

  .Main2 .hero-section .content .logoBox .imgBox .slash {
    width: 90px;
    height: 250px;
    top: 60px;
    left: 120px;
  }

  .Main2 .hero-section .content .textBox {
    justify-content: flex-start;
    width: 100%;
    height: 50vh;
    padding-top: 10px;
    padding-left: 0;
  }

  .Main2 .hero-section .content .textBox h1 {
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
    font-size: 30px;
  }
}

/*# sourceMappingURL=src_components_Hero_hero_scss_css_bad6b30c._.single.css.map*/