@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&display=swap");

.hero {
  &__section {
    // background: rgb(30, 24, 46);
    // background: linear-gradient(
    //   90deg,
    //   rgba(30, 24, 46, 1) 42%,
    //   rgba(23, 30, 55, 1) 77%
    // );
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: "relative";
  }

  &__content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
  }

  &__logo-box {
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
  }

  &__img-box {
    position: relative;
    width: 450px;
    height: 450px;
  }

  &__profile {
    height: 400px;
    position: absolute;
    left: 200px;
    top: 20px;
    opacity: 1;
    animation: bounceInUp;
    animation-duration: 1s;
    z-index: 2;
    --animate-delay: 2s;
  }

  &__arrow1 {
    position: absolute;
    left: 100px;
    height: 130px;
    top: 150px;
    opacity: 1;
    animation: backInLeft;
    animation-duration: 1s;
    z-index: 1;
  }

  &__arrow2 {
    position: absolute;
    left: 100px;
    height: 130px;
    top: 273px;
    opacity: 1;
    animation: backInLeft;
    animation-duration: 1s;
    z-index: 3;
  }

  &__arrow3 {
    position: absolute;
    left: 370px;
    height: 130px;
    top: 229px;
    opacity: 1;
    animation: backInRight;
    animation-duration: 1s;
    z-index: 1;
  }

  &__arrow4 {
    position: absolute;
    left: 370px;
    height: 130px;
    top: 353px;
    opacity: 1;
    animation: backInRight;
    animation-duration: 1s;
    z-index: 3;
  }

  &__slash {
    position: absolute;
    left: 265px;
    top: 30px;
    height: 450px;
    opacity: 1;
    animation: bounceInDown;
    animation-duration: 1s;
    z-index: 1;
  }

  &__text-box {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }

  &__title {
    color: #5df8f5;
    font-size: 45px;
    font-weight: 350;
    margin-bottom: 25px;
    text-align: left;
  }

  &__title-highlight {
    color: #ff3870;
  }

  &__btn {
    box-sizing: border-box;
    height: 50px;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #ff3870;
      border: none;
    }
  }

  &__btn:hover &__btn-arrow {
    transform: rotate(90deg);
  }

  &__btn-arrow {
    margin-left: 10px;
    transition: transform 0.5s ease;
  }
}

@media screen and (max-width: 992px) {
  .hero {
    &__section {
      height: auto;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
    }

    &__logo-box {
      height: 50vh;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__img-box {
      width: 330px;
      height: 330px;
      position: relative;
    }

    &__profile {
      left: 70px;
      top: 60px;
      height: 230px;
    }

    &__arrow1 {
      left: 20px;
      height: 70px;
      top: 135px;
    }

    &__arrow2 {
      left: 20px;
      height: 70px;
      top: 200px;
      opacity: 1;
    }

    &__arrow3 {
      left: 180px;
      height: 70px;
      top: 175px;
    }

    &__arrow4 {
      left: 180px;
      height: 70px;
      top: 240px;
    }

    &__slash {
      left: 120px;
      top: 60px;
      height: 250px;
      width: 90px;
    }

    &__text-box {
      padding-top: 10px;
      padding-left: 0px;
      width: 100%;
      height: 50vh;
      justify-content: flex-start;
    }

    &__title {
      font-size: 30px;
      margin-top: 30px;
      text-align: center;
      margin-left: 0px;
    }
  }
}
