.flexer {
  height: 100vh;
  background: rgb(30, 24, 46);

  .mediaIconsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .mediaIconsBoxItem {
      width: 300px !important;
      text-align: center !important;
    }
  }
}

//   // .Carousel__Container-sc-hyhecw-0 {
//   //   width: 100%;
//   // }
